<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">
<body>
<div th:fragment="nav" class="nav-bar">
    <div class="nav-brand">
        <a th:href="@{/}">主题频道交流平台</a>
    </div>
    <form method="get" th:action="@{/search}" class="nav-search">
        <input type="text" name="keyword" th:value="${keyword}" placeholder="搜索帖子、频道、用户" required>
        <input type="hidden" name="type" value="post">
        <button type="submit">搜索</button>
    </form>
    <div style="flex:1;" th:replace="~{fragments/toast :: toast}"></div>
    <div class="nav-links">
        <a th:href="@{/}">首页</a>
        <a th:if="${session.userId}" th:href="@{/forum/create}">创建频道</a>
        <a th:if="${session.userId}" th:href="@{/user/info}">个人中心</a>
        <a th:unless="${session.userId}" th:href="@{/user/login}">登录</a>
        <a th:unless="${session.userId}" th:href="@{/user/register}">注册</a>
    </div>
</div>
</body>
</html>
